opencv-python
tqdm
pyyaml
omegaconf
kornia
einops
onnxruntime
triton
diffusers[torch]==0.19.3
transformers==4.25.1
xformers==0.0.16
trimesh==3.9.8
pytorch_lightning==1.9.5
nerfacc==0.3.3
scipy
pymcubes
open3d
libigl
scikit-image==0.21.0