body {
  font-family: 'Noto Sans', sans-serif;
  /* font-family: 'Monaco',  sans-serif; */
  
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Noto Sans', sans-serif;
}


/*.publication-title {
}*/

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
  padding-top: 3rem;
  padding-bottom: 0rem;
}

.publication-author-block .hero-body {
  padding-top: 1rem;
  padding-bottom: 0rem;
}


.publication-title {
    /*font-size: 10px;*/
    font-family: 'Noto Sans', sans-serif;
}

.publication-authors {
    font-family: 'Notogallery_img Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 5px;
  margin: 50px;
}

.results-carousel .item {
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
  margin: 50px;
  overflow: hidden;
  padding: 50px;
  font-size: 0;
  position: relative;
  top: 50%;
  left: 50%;
  /*margin: -25px 0 0 -25px;*/
}

.carousel-caption {
  color: #555;
  position: relative;
  left: auto;
  right: auto;
}

.results-carousel video {
  margin: 0;
}

/* .carousel-indicators{
  bottom: -50px;
  position: absolute;
    top:50%;
    left: 150%;
    z-index: 15;

    text-align: center;
    list-style: none;
} */
/* .carousel-inner {
  margin-bottom:50px;
} */

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb {
  font-size: smaller;
}
/*
.container {
  padding-top: 0px;
  padding-bottom: 3rem;

}

*/

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*grid-template-rows: repeat(4, 1fr);*/
    /*grid-auto-flow: dense;*/
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /*align-items: stretch;*/
}

.inner_gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /*grid-template-rows: repeat(4, 1fr);*/
    /*grid-auto-flow: dense;*/
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /*align-items: stretch;*/
}

/*.gallery {*/
/*    !*width: 63%;*!*/
/*    !*margin: 0 auto;*!*/
/*    !*position: relative;*!*/
/*    display: grid;*/
/*    grid-template-columns: repeat(5, 1fr);*/
/*    !*grid-template-rows: repeat(4, 1fr);*!*/
/*    !*grid-auto-flow: dense;*!*/
/*    grid-column-gap: 0px;*/
/*    grid-row-gap: 0px;*/
/*    !*align-items: stretch;*!*/
/*    !*line-height: 0;*!*/
/*    !*overflow: hidden !important;*!*/
/*}*/

.gallery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*border: 1px solid black;*/
}

.varying_img {
    max-height: 300px;
    object-fit: cover;
    /*border: 1px solid black;*/
}

.gallery_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.under {
    z-index: 1;
}

.over {
    z-index: 2;

    width: 30%;
    height: 30%;
    border: 1px solid black;
}

.grid_r_1 {
    grid-row: 1;
}

.grid_r_2 {
    grid-row: 2;
}

.grid_r_3 {
    grid-row: 3;
}

.grid_r_4 {
    grid-row: 4;
}

.grid_r_5 {
    grid-row: 5;
}

.grid_c_1 {
    grid-column: 1;
}

.grid_c_2 {
    grid-column: 2;
}

.grid_c_3 {
    grid-column: 3;
}

.grid_c_4 {
    grid-column: 4;
}

.grid_c_5 {
    grid-column: 5;
}

.video-compare-container {
    width: 63%;
    margin: 0 auto;
    position: relative;
    display: block;
    line-height: 0;
    overflow: hidden !important;
}

.video_in_container {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
}

.video_merge {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: block;
    margin: 0 auto;
    background-size: cover;
}

.captioned_video {
    background-size: cover;
    vertical-align: center;
}

.captioned_video h6 {
    /* font-style: italic; */
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    z-index: 20;

    max-width: 100%;
    padding-top: 0px;
    /*margin: 15px 0 5px 0;*/
    tooltip-max-width: 10rem;
}

#rep {
    max-height: 256px;
}

#pipe {
    max-height: 256px
}

#network {
    max-height: 256px
}
/* .captioned_videos img {
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    display: block;
} */

.comp_gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(4, 1fr);*/
    /*grid-auto-flow: dense;*/
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    /*align-items: stretch;*/
}

.comp_src_img {
    max-height: 196px
}



.prompt_gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(4, 1fr);*/
    /*grid-auto-flow: dense;*/
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    /*align-items: stretch;*/
}

.vidcomp_gallery {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /*grid-template-rows: repeat(4, 1fr);*/
  /*grid-auto-flow: dense;*/
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  align-items: stretch;
}

.vidcomp_src_img {
  max-height: 300px;
  border: 1px solid gray;
  /* border-left: 1px solid; */
  /* height: 100px;
  width: 100px; */
}

.limitation_gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*grid-template-rows: repeat(4, 1fr);*/
  /*grid-auto-flow: dense;*/
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  margin-bottom: 20px;
  /* border: 1px solid gray; */
  align-items: center;
}

.limitation_src_img {
  max-height: 200px;
  margin-bottom: 5px;
  /* border-left: 1px solid; */
  /* height: 100px;
  width: 100px; */
}

.tradeoff_src_img {
  max-height: 200px;
  margin-bottom: 5px;
  border: 1px solid gray;
  
}

.sketch_rep_img {
  max-height: 200px;
  margin-bottom: 5px;
  border: 1px solid gray;
  margin-right: 100px;
  
}

.ablation_gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*grid-template-rows: repeat(4, 1fr);*/
    /*grid-auto-flow: dense;*/
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    /*align-items: stretch;*/
}

.abstraction_gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /*grid-template-rows: repeat(4, 1fr);*/
  /*grid-auto-flow: dense;*/
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  /*align-items: stretch;*/
}

.textprompt_gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /*grid-template-rows: repeat(4, 1fr);*/
  /*grid-auto-flow: dense;*/
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  /*align-items: stretch;*/
}

.comparisons_gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 20px;
  margin-bottom: 20px;
  /*grid-template-rows: repeat(4, 1fr);*/
  /*grid-auto-flow: dense;*/
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  /*align-items: stretch;*/
}

.comp_src_img {
  height: 200px;
  width: 200px;
  margin-bottom: 5px;
  border: 1px solid gray;
  
}

.tradeoff2_gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /*grid-template-rows: repeat(4, 1fr);*/
  /*grid-auto-flow: dense;*/
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  /*align-items: stretch;*/
}


.rule{
  align-items: center;
  width: 650px;
  height: 1px;
  background:black;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*.prompt_src_img {*/
/*    max-height: 196px*/
/*}*/

.has_border_right {
    border-right:5rem solid rgba(0, 0, 0, 0)
}

.has_border_left {
    border-left:5rem solid rgba(0, 0, 0, 0)
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}


/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.vertical-line{
    width: 1px; /* Line width */
    background-color: black; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content. 
      You can instead use position:absolute or display:inline-block
      if this fits better with your design */
  }

#network {
    height: 100%;
}
